flow1.json
[{"id":"cfcf7059.4c614","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"99596507.043978","type":"rpi-gpio in","z":"cfcf7059.4c614","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":130,"y":260,"wires":[["14ff1fa3.a2b82","78100e57.51097"]]},{"id":"9558fdd6.4694","type":"rpi-gpio out","z":"cfcf7059.4c614","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":680,"y":320,"wires":[]},{"id":"14ff1fa3.a2b82","type":"debug","z":"cfcf7059.4c614","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":180,"wires":[]},{"id":"78100e57.51097","type":"switch","z":"cfcf7059.4c614","name":"if 1?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":300,"wires":[["fb05f9a5.44ecc8"],["9d4e5a27.8fdd48"]]},{"id":"faf70796.296f98","type":"inject","z":"cfcf7059.4c614","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["9558fdd6.4694","14ff1fa3.a2b82"]]},{"id":"85acae54.789b","type":"inject","z":"cfcf7059.4c614","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["9558fdd6.4694","14ff1fa3.a2b82"]]},{"id":"9d4e5a27.8fdd48","type":"change","z":"cfcf7059.4c614","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["9558fdd6.4694"]]},{"id":"fb05f9a5.44ecc8","type":"change","z":"cfcf7059.4c614","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["9558fdd6.4694"]]}]