flow2.json
[{"id":"2be9a12e.35247e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9d0186ba.a1fee8","type":"inject","z":"2be9a12e.35247e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":130,"y":120,"wires":[["c74730b6.cb02b"]]},{"id":"c74730b6.cb02b","type":"function","z":"2be9a12e.35247e","name":"DK","func":"msg.headers={\n    deviceKey: \"Qtlc6jOqfZsYOVVN\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["c305919a.a478a"]]},{"id":"c305919a.a478a","type":"http request","z":"2be9a12e.35247e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DzJn0lNW/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":300,"wires":[["9320ff4c.996f","f4a62a0e.05cd28"]]},{"id":"9320ff4c.996f","type":"debug","z":"2be9a12e.35247e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":420,"wires":[]},{"id":"f4a62a0e.05cd28","type":"http response","z":"2be9a12e.35247e","name":"","statusCode":"","headers":{},"x":480,"y":320,"wires":[]}]