flow3.json
[{"id":"bdbf7c8.3983b8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2a796879.701c58","type":"inject","z":"bdbf7c8.3983b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":130,"y":220,"wires":[["11bbed73.06ec83"]]},{"id":"11bbed73.06ec83","type":"function","z":"bdbf7c8.3983b8","name":"Payload","func":"msg.headers={\n    deviceKey: \"Qtlc6jOqfZsYOVVN\"\n};\nmsg.payload= \"Temperature,,100\";\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":340,"wires":[["20fd5dc6.d48202"]]},{"id":"20fd5dc6.d48202","type":"http request","z":"bdbf7c8.3983b8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DzJn0lNW/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":180,"y":460,"wires":[["9452f696.0654c8","422df1b8.9ef44"]]},{"id":"9452f696.0654c8","type":"http response","z":"bdbf7c8.3983b8","name":"","statusCode":"","headers":{},"x":280,"y":540,"wires":[]},{"id":"422df1b8.9ef44","type":"debug","z":"bdbf7c8.3983b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":600,"wires":[]}]