flow5.json
[{"id":"13aa3795.c41918","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"a1a6bedd.95861","type":"http in","z":"13aa3795.c41918","name":"","url":"/setgpio7","method":"get","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["2bd5d3f5.fea6cc","13814434.87bbac"]]},{"id":"78ef3cc6.373044","type":"http in","z":"13aa3795.c41918","name":"","url":"/cleargpio7","method":"get","upload":false,"swaggerDoc":"","x":180,"y":340,"wires":[["9971f942.b17358","807d98e0.ade6e8"]]},{"id":"2bd5d3f5.fea6cc","type":"function","z":"13aa3795.c41918","name":"return status","func":"msg.payload = \"GPIO 7 HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["1bed6191.43ed0e","f8ee2705.c68d98"]]},{"id":"13814434.87bbac","type":"function","z":"13aa3795.c41918","name":"set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["24068189.0d33fe"]]},{"id":"9971f942.b17358","type":"function","z":"13aa3795.c41918","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["24068189.0d33fe"]]},{"id":"24068189.0d33fe","type":"rpi-gpio out","z":"13aa3795.c41918","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":590,"y":300,"wires":[]},{"id":"1bed6191.43ed0e","type":"debug","z":"13aa3795.c41918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":320,"wires":[]},{"id":"807d98e0.ade6e8","type":"function","z":"13aa3795.c41918","name":"return status","func":"msg.payload = \"GPIO 7 Low\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["1bed6191.43ed0e","f8ee2705.c68d98"]]},{"id":"f8ee2705.c68d98","type":"http response","z":"13aa3795.c41918","name":"","statusCode":"","headers":{},"x":830,"y":280,"wires":[]}]